/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%; /* do not display:block for img! */
}
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');


:root {
    --snap-blue: #2E3343;
    --snap-green: #6D977F;
    --snap-beige: #E8E4DC;
    --snap-pink: #FF82A9;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inclusive Sans', sans-serif;
    background: rgb(232,228,220);
    background: linear-gradient(191deg, rgba(232,228,220,1) 46%, rgba(232,228,250,1) 100%); 
    color: var(--snap-beige);
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 50%;
}

.block {
    padding: 40px 20px;
    text-align: left;
    border-radius: 5px;
}

.beige {
    background-color: var(--snap-beige);
    color: var(--snap-blue);
}

.green {
    background-color: var(--snap-green);
    color: var(--snap-beige);
    margin-bottom: 1rem;
}

.blue {
    background-color: var(--snap-blue);
    color: var(--white-color);
}

h1 {
    font-size: 10rem;
    line-height: 0.9;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: var(--snap-green);
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

p span {
	position: relative;
    color: var(--snap-pink);
	top: 0;
	animation: jump 0.5s ease infinite alternate;
}

@keyframes  jump {
	100% {
		top: -5px;
	}
}

p span:nth-child(2) {
	animation-delay: 0.1s;
}

p span:nth-child(3) {
	animation-delay: 0.2s;
}

p span:nth-child(4) {
	animation-delay: 0.3s;
}

p span:nth-child(5) {
	animation-delay: 0.4s;
}

p span:nth-child(6) {
	animation-delay: 0.5s;
}

p span:nth-child(7) {
	animation-delay: 0.6s;
}

p span:nth-child(8) {
	animation-delay: 0.7s;
}

ul {
    list-style: none;
    padding: 20px 0;
}

li {
    margin: 10px 0;
}

.blue ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
}

.blue li {
    width: auto;
    flex: 1 1 calc(30% - 15px);
    text-align: center;
}

.blue a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;

}

.beige a {
    color: var(--snap-blue);
    margin-left: 8px;
    font-size: 1.2rem;
}

.beige p {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.green ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
    padding: 20px 0;
}

a {
    color: var(--snap-beige);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    border: solid 1px var(--snap-pink);
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

a:hover {
    background-color: var(--snap-pink);
    transform: scale(1.02);
    color: var(--snap-blue);
}

.footer p {
    font-size: 1rem;
}


@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    h1 {
        font-size: 10rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }

    .blue li {
        flex: 1 1 calc(40% - 15px);
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 95%;
    }

    h1 {
        margin-top: 0rem;
        font-size: 8rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

}